@font-face {
    font-family: 'Product_Sans';
    font-style: normal;
    font-weight: lighter;
    src: url('Product_Sans.woff2');
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Product_Sans', Courier, monospace;
    min-width: 600px;
}

@media only screen and (max-width: 1100px) {
    #background-image-right {
        display: none;
    }
}

#header {
    width: 100%;
    position: absolute;
    top: 3%;
    text-align: center;
    color: #333;
    font-size: 24px;
}

#background-image-left {
    width: 300px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 12%;
}

#background-image-right {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 7%;
    margin: auto;
}

.form_container {
    height: 40px;
    width: 68%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

#input_shorten {
    width: 100%;
    border-left: solid #ddd 1px;
    border-top: solid #ddd 1px;
    border-bottom: solid #ddd 1px;
    border-right: 0;
    outline: none;
    outline-offset: -1px;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    border-radius: 20px 0px 0px 20px;
}

#btn_shorten {
    background: #4285F4;
    color: white;
    font-size: 20px;
    padding: 8px 16px 10px 16px;
    border-radius: 0px 20px 20px 0px;
    -webkit-user-select: none;
    user-select: none;
}

#copy_icon {
    user-select: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

#short_url_container {
    display: inline-flex;
    width: 100%;
    bottom: 30%;
    position: absolute;
    opacity: 0;
    text-align: center;
    justify-content: center;
    transition: opacity 0.5s ease-in;
}

#short_url_container.visible {
    opacity: 1;
}

#text_short_url {
    color: #4285F4;
    font-size: 20px;
    align-self: center;
}

#input_error {
    position: absolute;
    top: 42px;
    left: 22px;
    font-size: 12px;
    color: #d0113d;
    cursor: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

#input_error.visible {
    position: absolute;
    top: 42px;
    left: 22px;
    font-size: 12px;
    color: #d0113d;
    cursor: auto;
    opacity: 1;
}
